absl-py==2.3.1
addict==2.4.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
attrs==25.4.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
chumpy==0.70
click==8.3.1
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.2
crcmod==1.7
cryptography==46.0.3
cycler==0.12.1
Cython==3.2.2
defusedxml==0.7.1
filelock==3.14.0
filetype==1.2.0
flatbuffers==25.12.19
fonttools==4.60.1
fsspec==2025.10.0
humanfriendly==10.0
idna==3.7
Jinja2==3.1.6
jmespath==0.10.0
json-tricks==3.17.3
kiwisolver==1.4.9
lxml==6.0.2
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
mediapipe==0.10.9
ml_dtypes==0.5.4
mmcv==2.1.0
mmdet==3.2.0
mmengine==0.10.7
mmpose==1.3.2
model-index==0.1.11
mpmath==1.3.0
munkres==1.1.4
networkx==3.4.2
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
onnx==1.19.1
onnxruntime-gpu==1.16.3
onnxslim==0.1.90
opencv-contrib-python==4.12.0.88
opencv-python==4.12.0.88
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.3
ordered-set==4.1.0
oss2==2.17.0
packaging==24.2
pandas==2.3.3
pi_heif==1.1.1
pillow==12.0.0
pillow-avif-plugin==1.5.2
platformdirs==4.5.0
polars==1.35.2
polars-runtime-32==1.35.2
protobuf==7.34.1
psutil==7.1.3
pycocotools==2.0.10
pycparser==2.23
pycryptodome==3.23.0
Pygments==2.19.2
pyparsing==3.2.5
pyserial==3.5
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
pytz==2023.4
PyYAML==6.0.3
requests==2.28.2
requests-toolbelt==1.0.0
rich==13.4.2
roboflow==1.2.11
scipy==1.15.3
shapely==2.1.2
six==1.17.0
sounddevice==0.5.3
sympy==1.14.0
tabulate==0.9.0
tensorrt_cu12==10.16.0.72
tensorrt_cu12_bindings==10.16.0.72
tensorrt_cu12_libs==10.16.0.72
termcolor==3.2.0
terminaltables==3.1.10
tomli==2.3.0
torch==2.1.0+cu121
torchaudio==2.1.0+cu121
torchvision==0.16.0+cu121
tqdm==4.65.2
triton==2.1.0
typing_extensions==4.15.0
tzdata==2025.2
ultralytics==8.3.229
ultralytics-thop==2.0.18
urllib3==1.26.20
xtcocotools==1.14.3
yapf==0.43.0
youtube-transcript-api==1.2.4
